name: Common Workflows
on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  # golang static analysis checks
  go-static-analysis:
    uses: dell/common-github-actions/.github/workflows/go-static-analysis.yaml@main
    name: Golang Validation

  common:
    name: Quality Checks
    uses: dell/common-github-actions/.github/workflows/go-common.yml@main

  check-license-header:
    name: Check License Header
    uses: dell/common-github-actions/.github/workflows/check-license-header.yaml@feature/license-validation
    with:
      config-path: ./dell/common-github-actions/.github/configs/.licenserc.yaml # yamllint disable-line rule:truthy
